.product-card{
    width: 230px;
    height: 330px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.35);
    overflow: hidden;
    border-radius: 5px;
}
.product-card img{
    width: 140px;
    height: 140px;
    justify-self: center;
}
.product-card button{
    width: 120px;
    height: 35px;
    border: 0;
    color: #fff;
    background-color: coral;
    border-radius: 5px;
    cursor: pointer;
}
.product-card h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.product-card h5{
    font-size: 20px;
    font-weight: 400;
    opacity: .6;
}


@media (max-width: 575px) {
    .product-card{
        width: 300px;
    }
}